extends layout


block content
    h1=title
    - var link = "<a href='https://hpcompost.com/register'>here</a>"
    p Please try again or click <a href='https://hpcompost.com/register'>here</a> to register again.