extends layout

var link = "<a href='https://hpcompost.com/'>here</a>"

block content
    h1=Thank you for confirming your account!
    p #{name}, your account has been confirmed. Please click #{link} to return to the main page.