extends layout


block content
    h1= title
    - var link = "<a href='https://hpcompost.com/'>here</a>"
    p #{name}, your account has been confirmed. Please click #{link} to return to the main page.